<div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="Name" class="col-sm-4 control-label">Название</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Name"  placeholder="Введите название курса">
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="col-sm-4 control-label">Описание</label>
                <div class="col-sm-8">
                    <textarea class="form-control" rows="3" id="Description" placeholder="Введите описание курса"></textarea>
                </div>
            </div>  
            <div class="form-group">
                <label for="Date" class="col-sm-4 control-label">Дата</label>
                <div class="col-sm-8">
                    <input type="date" class="form-control" id="Date">
                </div>
            </div>
            <div class="form-group">
                <label for="Duration" class="col-sm-4 control-label">Продолжительность</label>
                <div class="col-sm-8">
                    <input type="number" class="form-control" id="duration" placeholder="в минутах">
                </div>
            </div>     
             <div class="form-group">
                <label for="AuthorsList" class="col-sm-4 control-label">Список авторов</label>
                <div class="col-sm-8">
                    <input type="number" class="form-control" id="AuthorsList" >
                </div>
            </div>  
            <div class="col-sm-8 col-sm-offset-4">          
            <button type="submit" class="btn btn-default">Сохранить</button>
            <button type="submit" class="btn btn-default">Отмена</button>
            </div>
        </form>        
    </div>
</div>