<div class="row" *ngFor="let course of courses | filter: value ">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row" >
                    <div class="col-sm-9 " >
                        {{course.title}} 
                        {{course.duration | duration: duration }} <!--{{course.date | date:'dd.MM.y' }}-->
                    </div>
                    <div class="col-sm-3">
                        <button class="btn btn-default btn-block" type="button"   (click)="edit.emit(course)">Редактировать</button>                                     
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-9 ">
                        {{course.author}} {{course.description}}
                        
                    </div>
                    <div class="col-sm-3">
                        <button class="btn btn-default btn-block" type="button"  (click) = "delete.emit(course)">Удалить</button>                                     
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
