<div class="container">
    <header class="page-header">
        <div class="row">
            <div class="col-xs-6 col-md-4"> 
                <img src="{{logo}}" style="height:100px">
               
            </div>
          
            <div class="col-xs-6 col-md-offset-2 col-md-4">
                <logoff> </logoff>
            </div>
        </div>
    </header>
    <main>
     <authentification></authentification>
    </main>
    <footer>
        <div class="row">
            <div class="col-xs-12">
                    copyright 2017
            </div>
        </div>
    </footer>
</div>
