<div class="container">
    <header class="page-header">
        <div class="row">
            <div class="col-xs-7">
                <img src="{{logo}}" style="height:100px">
            </div>
            <div class="col-xs-5 text-right">
                <logoff>
                </logoff>
            </div>
        </div>
    </header>
    <main>
        <authentification>
        </authentification>
    </main>
    <footer>
        <div class="navbar-fixed-bottom row-fluid">
            <div class="col-xs-12">
                <p class="text-center">
                    <u>
                        copyright 2017
                    </u>
                </p>
            </div>
        </div>
    </footer>
</div>